body {
  display: flex;
  flex-direction: column;
  space-between: 50px;
  gap: 50px;
}

header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

div {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}